<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.airasia.ordering.mapper.GuestMapper">

	<insert id="createGuestDetails" useGeneratedKeys="true" keyColumn="GUEST_ID" keyProperty="guest.guestID">
		INSERT INTO GUEST ( FIRST_NAME, LAST_NAME, CONTACT_NUM, EMAIL_ID, CREATION_TIME, MODIFIED_TIME, ENTITY_STATE)
			VALUES ( #{guest.firstName},  #{guest.lastName}, #{guest.contactNum}, #{guest.emailID}, CURRENT_TIMESTAMP(0),null, 'ACTIVE');
	</insert>

</mapper>